<meta charset="UTF-8">
<title>TF2Autobot</title>
<base target="_blank">

<meta name="title" content="TF2Autobot">
<meta name="description"
  content="TF2Autobot is an improved and feature rich version of the original tf2-automatic made by Nicklason.">
<meta name="keywords"
  content="tf2autobot, TF2Autobot, discord, webhook, team fortress 2, tf2, trading, bot, bptf, backpacktf">
<meta name="author" content="IdiNium">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="shortcut icon" type="image/png" href="../../public/assets/icon/favicon.ico">

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { padding-top:50px; }
</style>