<!DOCTYPE html>
<html lang="en">

<head>
  <base target="_blank">
  <meta charset="UTF-8" />
  <title>TF2Autobot</title>
  <meta property="og:title" content="TF2Autobot">
  <meta property="og:description"
    content="TF2Autobot is an improved and feature rich version of the original tf2-automatic made by Nicklason.">
  <meta name="keywords"
    content="tf2autobot, TF2Autobot, discord, webhook, team fortress 2, tf2, trading, bot, bptf, backpacktf">
  <meta name="author" content="IdiNium">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="/assets/icon/favicon.ico">
  <link rel="stylesheet" href="/assets/css/temp_main_page.css?version=1.0.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"
    type="text/css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192725340-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-192725340-1');
  </script>

  <!-- remember, jQuery is completely optional -->
  <!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
  <script type="text/javascript" src="./js/jquery.particleground.js"></script>
  <script type="text/javascript" src="./js/demo.js"></script>
</head>

<body>
  <div id="particles">
    <div id="intro">
      <img src="./images/tf2autobot.png" height="200" width="200">

      <h2 style="font-family: Helvetica, sans-serif; font-weight: 10;">TF2Autobot<a
          href="https://github.com/TF2Autobot/tf2autobot" style="color: white;"></a></h2>
      <hr style="width: 50%; background-color: #E83951; border-color: #E83951;">
      &nbsp
      <a href="https://discord.gg/4k5tmMkXjB" style="color: white;"><i class="fab fa-discord"
          style="font-size: 2em;"></i></a>
      &nbsp
      <a href="https://github.com/TF2Autobot/tf2autobot" style="color: white;"><i class="fab fa-github"
          style="font-size: 2em;"></i></a>
      &nbsp
      <a href="https://steamcommunity.com/groups/TF2Autobot" style="color: white;"><i class="fab fa-steam"
          style="font-size: 2em;"></i></a>
      &nbsp
      <a href="https://www.youtube.com/channel/UCLSQJ9DRlj0oiK4JMg8gRVA" style="color: white;"><i class="fab fa-youtube"
          style="font-size: 2em;"></i></a>
      &nbsp
    </div>
  </div>
</body>

</html>