body {
    padding-top: 50px;
    color: #222;
    background: #fff;
    font: 100% system-ui;
}

a {
    color: #0033cc;
}

h1 {
    padding-left: 10px;
}

/* If the screen size is in between 768px and 991px wide, set the font-size of h1 to 24px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 24px;
    }

    .jumbotron-content a {
        font-size: small;
    }
}

/* If the screen size is in between 601px and 767px wide, set the font-size of h1 to 18px */
@media screen and (min-width: 601px) and (max-width: 767px) {
    h1 {
        font-size: 18px;
    }

    .jumbotron-content a {
        font-size: x-small;
    }
}

/* If the screen size is 600px wide or less, set the font-size of h1 to 16px */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 16px;
    }

    .jumbotron-content a {
        font-size: xx-small;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #121212;
    }

    body a {
        color: #809fff;
    }

    .jumbotron h1 {
        color: #222;
    }

    a {
        color: #0033cc;
    }

    .jumbotron {
        background-color: #242525;
    }

    .jumbotron h1 {
        color: rgb(226, 215, 215);
    }

    .jumbotron h1 a {
        color: #809fff;
    }
}

.jumbotron-content a:link,
a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 35%;
    margin-bottom: 7px;
    margin-right: 5px;
    border-radius: 3px;
}

.jumbotron-content a:hover,
a:active {
    background-color: red;
}

.jumbotron-content img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    padding-right: 5em;
    padding-left: 5em;
}

.quality-box {
    width: 15px;
}
