<style>
    a:link, a:visited {
        color: #6c757d;
    }

    a:link:active, a:visited:active {
        color: #6c757d;
    }
</style>

<div class="text-center text-muted">
    <p>&copy; Copyright 2022 TF2Autobot - <a target="_blank" href="https://github.com/TF2Autobot">Github</a> - <a target="_blank" href="https://discord.gg/4k5tmMkXjB">Discord</a></p>
    <p class="text-sm-center">Powered by <a target="_blank" href="https://steampowered.com">Steam</a> | Particles from <a target="_blank" href="https://backpack.tf">Backpack.tf</a> and <a target="_blank" href="https://marketplace.tf">Marketplace.tf</a> | Made by <a target="_blank" href="https://steamcommunity.com/profiles/76561198013127982">IdiNium</a></p>
</div>
