<div class="text-center text-muted footer">
    <p>&copy; Copyright 2022 TF2Autobot - <a class="footerD" target="_blank" href="/redirect/github">Github</a> - <a class="footerD" target="_blank" href="/redirect/discord">Discord</a></p>
    <p style="font-size:90%;">Powered by <a class="footerD" target="_blank" href="https://store.steampowered.com/">Steam</a> | Particles from <a class="footerD" target="_blank" href="/redirect/backpacktf">Backpack.tf</a> and <a class="footerD" target="_blank" href="https://marketplace.tf">Marketplace.tf</a> | Made by <a class="footerD" target="_blank" href="https://steamcommunity.com/profiles/76561198013127982">IdiNium</a></p>
</div>
